
<div class="" style="max-width: 1600px; margin-left: 8%; margin-right: 8%; min-width: 400px;">

        <div class="text-block">
            <div class="title-1">FILE MANAGEMENT SYSTEM</div>
            <h3>文件数据传输图</h3>
        </div>

{#        <h3 class="text-center">文件数据传输图</h3>#}

        <div class="card overflow-hidden h-100" style="margin-top: 5%">
            <div class="card-body">
                <div class="d-md-flex justify-content-between align-items-center">
                    <h6 class="card-title">上传 & 下载记录</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="nav nav-tabs mt-3 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#home" href="#">
                                    <i class="bi bi-arrow-down-short me-1"></i> 最近上传
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-bs-toggle="tab" data-bs-target="#profile" href="#">
                                    <i class="bi bi-arrow-up-short me-1"></i> 最近下载
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="home" role="tabpanel" style="position: relative;">
                    <div id="chart0" style="min-height: 180px;">

                        Download
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 623px; height: 181px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
                <div class="tab-pane fade " id="profile" role="tabpanel" style="position: relative;">
                    <div id="chart1" style="min-height: 180px;">
                        Upload

                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 621px; height: 181px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
