<section class="section section-md  text-center" style="background-color: white;    margin-top: -6%;">
        <div class="container">

                <div class="text-block">
        <h3>
            <span class="linearicons-earth" style="font-size: 1.2rem; margin-left: 10px; color: #1c54e2"></span>
            <span style="font-size: 18px;"> 后台管理仪表盘 </span>
        </h3>
        </div>

                <ul class="nav nav-line justify-content-center active" role="tablist" style="margin-top: -27.2px">
        <li class="nav-item">
            <a class="nav-link h6 active" data-toggle="tab" href="#navLine3-1" role="tab" aria-selected="true"></a>
        </li>
    </ul>

          <div class="row row-20 row-lg-40 row-content">
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon mdi-account-location"></div>
                        <div class="blurb-title h4">所有用户列表</div>
                      </div><a class="blurb-link-overlay" href="/user_list"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon mdi-account-plus"></div>
                        <div class="blurb-title h4">创建新用户</div>
                      </div><a class="blurb-link-overlay" href="/create_user"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon mdi-account-key"></div>
                        <div class="blurb-title h4">用户权限更改</div>
                      </div><a class="blurb-link-overlay" href="/update_permission"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon mdi-file-multiple"></div>
                        <div class="blurb-title h4">所有文件列表</div>
                      </div><a class="blurb-link-overlay" href="/file_list"></a>
                    </article>
            </div>

            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon mdi-key-variant"></div>
                        <div class="blurb-title h4">用户密码重置</div>
                      </div><a class="blurb-link-overlay" href="/update_password"></a>
                    </article>
            </div>

            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon mdi-download"></div>
                        <div class="blurb-title h4">所有下载记录</div>
                      </div><a class="blurb-link-overlay" href="/download_records"></a>
                    </article>
            </div>
          </div>
          <div class="btn-group-1"><a class="btn btn-lg btn-primary" href="/create_user">创建用户</a></div>
        </div>
      </section>