<section class="section section-md  text-center" style="background-color: white;    margin-top: -6%;">
        <div class="container">
{#          <div class="text-block">#}
{#            <h2></h2>#}
{#          </div>#}
{##}
{#            <div class="col-12 text-center">#}
{#              <div class="title-1">FILE MANAGEMENT SYSTEM </div>#}
{#              <h2>文件资源管理中心</h2>#}
{#            </div>#}
            <div class="text-block">
        <h3>
            <span class="linearicons-earth" style="font-size: 1.2rem; margin-left: 10px; color: #1c54e2"></span>
            <span style="font-size: 18px;"> 组织管理仪表盘 </span>
        </h3>
        </div>

                <ul class="nav nav-line justify-content-center active" role="tablist" style="margin-top: -27.2px">
        <li class="nav-item">
            <a class="nav-link h6 active" data-toggle="tab" href="#navLine3-1" role="tab" aria-selected="true"></a>
        </li>
    </ul>

          <div class="row row-20 row-lg-40 row-content">
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-upload2"></div>
                        <div class="blurb-title h4">上传文件</div>
                      </div><a class="blurb-link-overlay" href="/upload_file"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-files"></div>
                        <div class="blurb-title h4">我的文件列表</div>
                      </div><a class="blurb-link-overlay" href="/myfiles"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-download2"></div>
                        <div class="blurb-title h4">我的下载记录</div>
                      </div><a class="blurb-link-overlay" href="/my_records"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-laptop"></div>
                        <div class="blurb-title h4">所有公司管理</div>
                      </div><a class="blurb-link-overlay" href="/company_management"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-group-work"></div>
                        <div class="blurb-title h4"> 所有项目管理</div>
                      </div><a class="blurb-link-overlay" href="/project_management"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-earth"></div>
                        <div class="blurb-title h4">我的组织管理</div>
                      </div><a class="blurb-link-overlay" href="/my_organization"></a>
                    </article>
            </div>
          </div>
          <div class="btn-group-1"><a class="btn btn-lg btn-primary" href="/upload_file">立即上传</a></div>
        </div>
      </section>