    <section class="footer footer-dark context-dark bg-800" style="background-color: #aaaaaa1f; color: #264555; border-top: solid 1px; margin-top: 5%;">
        <div class="container">
            <div class="row row-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Logo-->
                    <div class="logo">
                        <a class="logo-link" href="/">
                            <h3 class="box-title" style="color:#264555;"> 文件识别系统 <span style="font-size: 16px;"></span> </h3>
{#                            <img class="logo-image-default" src="/static/images/logo/logo19.png" alt="File System" width="146" height="36">#}
{#                            <img class="logo-image-inverse" src="/static/images/logo/logo20.png" alt="File System" width="146" height="36">#}
                        </a>
                    </div>
                    <p>  基于权限的分布式文件管理系统 </p>
                     <br> </br>
                    <div class="social group-20">
{#                        <a class="social-icon icon icon-md icon-link onclinic-instagram" href="#"></a>#}
                    </div>
            </div>

                <div class="col-sm-6 col-lg-3" style="color:#264555;">
                    <h5 class="footer-title" style="color:#264555;">Contacts</h5>
                    <ul class="list list-icons">
                        <li class="list-item">
                            <div class="list-icon onclinic-map-marker"></div>
                            ChaoYang, Beijing
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-phone"></div>
                            010-0000 0000
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-email-open"></div>
                            filesystem@gmail.com
                        </li>

                    </ul>

                </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title" style="color:#264555;">Useful Links</h5>
                    <ul class="list list-sm">
                      <li class="list-item"><a href="/user_info">About</a></li>
                      <li class="list-item"><a href="/">Home Page</a></li>
                      <li class="list-item"><a href="/upload_file">File Upload</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
