<div class="container" style="margin-top: 5.8%">

    <div class="text-block">
        <h3>
            <span class="linearicons-library" style="font-size: 1.2rem; margin-left: 10px; color: #1c54e2"></span>
            <span style="font-size: 18px;"> 文件资源中心 </span>
        </h3>
    </div>


    <ul class="nav nav-line justify-content-center active" role="tablist" style="margin-top: -7.2px">
        <li class="nav-item">
            <a class="nav-link h6 active" data-toggle="tab" href="#navLine3-1" role="tab" aria-selected="true"></a>
        </li>
    </ul>
    <div id="why_choose_us" class="row row-20 row-lg-40 row-content"
         style="margin-top: 5.8%; width: 92%; margin-left: 4%;">

        <div class="col-md-4 d-flex" style=" min-height: 228px;">
            <article class="blurb blurb-boxed-simple topaz" style="">
                <div class="blurb-item">
                    <div class="icon blurb-icon linearicons-cloud-upload"></div>
                    <div class="blurb-title  h4" style=""> 选择上传文件</div>
                </div>
                <a class="blurb-link-overlay" href="/upload_file"></a>
            </article>
        </div>

        <div class="col-md-4 d-flex" style=" min-height: 228px;">

            <article class="blurb blurb-boxed-simple topaz">
                <div class="blurb-item">
                    <div class="linearicons-book2" style="font-size: 2.8rem;  color: #1c54e2"></div>
                    <span class="blurb-title h4">
                            我的文件列表
                        </span>
                </div>

                <a class="blurb-link-overlay" href="/myfiles"></a>

            </article>
        </div>

        <div class="col-md-4 d-flex" style=" min-height: 228px;">

            <article class="blurb blurb-boxed-simple topaz">
                <div class="blurb-item">
                    <div class="linearicons-download2" style="font-size: 2.8rem;  color: #1c54e2"></div>
                    <span class="blurb-title h4">
                            我的下载
                        </span>
                </div>

                <a class="blurb-link-overlay" href="/my_records"></a>
                {#                         <span id="pending_file0" class="tag tag-tertiary " style="display: none;  border-radius: 80%; height: 30px; width: 32px; margin-left: 28px; margin-top: 74px; font-size: 12px;    text-align: center;"></span>#}
            </article>
        </div>
    </div>

</div>

<div class="container" style="margin-top: 5.8%">

    <div class="text-block">
        <h3>
            <span class="linearicons-library2" style="font-size: 1.2rem; margin-left: 10px; color: #1c54e2"></span>
            <span style="font-size: 18px;"> 组织管理仪表盘 </span>
        </h3>
    </div>


    <ul class="nav nav-line justify-content-center active" role="tablist" style="margin-top: -7.2px">
        <li class="nav-item">
            <a class="nav-link h6 active" data-toggle="tab" href="#navLine3-1" role="tab" aria-selected="true"></a>
        </li>
    </ul>
    <div id="why_choose_us" class="row row-20 row-lg-40 row-content"
         style="margin-top: 5.8%; width: 92%; margin-left: 4%;">

        <div class="col-md-4 d-flex" style=" min-height: 228px;">
            <article class="blurb blurb-boxed-simple topaz" style="">
                <div class="blurb-item">
                    <div class="icon blurb-icon linearicons-earth"></div>
                    <div class="blurb-title  h4" style=""> 所有公司管理</div>
                </div>
                <a class="blurb-link-overlay" href="/company_management"></a>
            </article>
        </div>
        <div class="col-md-4 d-flex" style=" min-height: 228px;">

            <article class="blurb blurb-boxed-simple topaz">
                <div class="blurb-item">
                    {#                            file-code#}
                    <span class="linearicons-group-work" style="font-size: 2.6rem;  color: #1c54e2"></span>
                    <div class="blurb-title h4"> 所有项目管理</div>
                </div>
                <a class="blurb-link-overlay" href="/project_management"></a>
            </article>
        </div>


        <div class="col-md-4 d-flex" style=" min-height: 228px;">

            <article class="blurb blurb-boxed-simple topaz">
                <div class="blurb-item">
                    <div class="linearicons-blog" style="font-size: 2.8rem;  color: #1c54e2"></div>
                    <span class="blurb-title h4">
                            所有组织列表
                        </span>
                </div>

                <a class="blurb-link-overlay" href="/project_management"></a>
                {#                         <span id="pending_file0" class="tag tag-tertiary " style="display: none;  border-radius: 80%; height: 30px; width: 32px; margin-left: 28px; margin-top: 74px; font-size: 12px;    text-align: center;"></span>#}

            </article>
        </div>

    </div>

</div>
