<div class="container" style="width: 80%; margin-left: 7%">
    <div class="text-block" >
        <div class="title-1">FILE MANAGEMENT SYSTEM</div>
        <h2>常用功能</h2>
    </div>
</div>

<div class="owl-carousel owl-carousel-nav-1 owl-content-1 owl-loaded owl-drag"
             data-owl="{&quot;dots&quot;:true,&quot;nav&quot;:true}" data-loop="true" data-items="1" data-sm-items="2"
             data-md-items="3" data-lg-items="4" style="margin-top: 2%; width: 84%; margin-left: 8%; margin-right: 8%;">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                     style="transform: translate3d(-279px, 0px, 0px); transition: all 0.25s ease 0s; width: 1397px;">
                    {# Item 0                    #}
                    <div class="owl-item" style="width: 267px; margin-right: 30px; background-color: #fff;border-radius: 0.8rem;-webkit-box-shadow: 0 1px 3px rgba(3,0,71,.09);box-shadow: 0 1px 3px rgba(3,0,71,.09);">
                        <div class="product product-light">
                            <div class="product-media">

                            <div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" style="">
                            <div class="d-flex align-items-center mb-4" style="margin-top: 2px">
                                <div class="avatar me-3" style="margin-top: 10px; margin-left: 3%;">
                                    <a class="avatar-text bg-success text-white-90 rounded-pill " href="/upload_file">
                                        <i class="icon mdi-upload"></i>
                                    </a>
                                </div>
                                <a class="lead fw-bold" href="/upload_file" style="color: #000000;">上传文件</a>

                            </div>
                            <div class="d-md-flex align-items-start px-1">
                                <div class="flex-fill me-3" style="    max-width: 156px;">
{#                                                                            请点击上传您的文件#}
                                    <div class="text-muted mb-3" style="margin-left: 15px;">请点击上传您的文件</div>
                                </div>
                                <a class="fbtn fbtn-outline-success mt-4" tabindex="-1" style="margin-bottom: 5%;margin-right: 2%;min-width: 116px;margin-left: 18%;width: 116px;" href="/upload_file">
                                    点击查看
                                    <span class="icon mdi-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                            </div>

                        </div>
                    </div>

                    {# Item 1                    #}
                    <div class="owl-item" style="width: 267px; margin-right: 30px; background-color: #fff;border-radius: 0.8rem;-webkit-box-shadow: 0 1px 3px rgba(3,0,71,.09);box-shadow: 0 1px 3px rgba(3,0,71,.09);">
                        <div class="product product-light">
                            <div class="product-media">

                            <div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" style="">
                            <div class="d-flex align-items-center mb-4" style="margin-top: 2px">
                                <div class="avatar me-3" style="margin-top: 10px; margin-left: 3%;">
                                    <a class="avatar-text bg-secondary text-white-90 rounded-pill " href="/myfiles" style="min-width: 45px;">
                                        <i class="icon onclinic-star"></i>
                                    </a>
                                </div>
                                <a class="lead fw-bold" href="/myfiles" style="color: #000000;">我的上传</a>

                            </div>

                            <div class="d-md-flex align-items-start px-1">
                                <div class="flex-fill me-3" style="    max-width: 156px;">
                                    <div class="text-muted mb-3" style="margin-left: 15px;">点击查看您上传的文件列表</div>
                                </div>
                                <a class="fbtn fbtn-outline-secondary mt-4" tabindex="-1" style="margin-bottom: 5%;margin-right: 2%;min-width: 116px;margin-left: 18%;width: 116px;" href="/myfiles">
                                    点击查看
                                    <span class="icon mdi-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                            </div>

                        </div>
                    </div>

                    {# Item 2                    #}
                    <div class="owl-item" style="width: 267px; margin-right: 30px; background-color: #fff;border-radius: 0.8rem;-webkit-box-shadow: 0 1px 3px rgba(3,0,71,.09);box-shadow: 0 1px 3px rgba(3,0,71,.09);">
                        <div class="product product-light">
                            <div class="product-media">

                            <div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" style="">
                            <div class="d-flex align-items-center mb-4" style="margin-top: 2px">
                                <div class="avatar me-3" style="margin-top: 10px; margin-left: 3%;">
                                    <a class="avatar-text bg-primary text-white-90 rounded-pill " href="/my_records" style="min-width: 45px;">
                                        <i class="icon mdi-download"></i>
                                    </a>
                                </div>
                                <a class="lead fw-bold" href="/my_records" style="color: #000000;">我的下载</a>

                            </div>

                            <div class="d-md-flex align-items-start px-1">
                                <div class="flex-fill me-3" style="    max-width: 156px;">
                                    <div class="text-muted mb-3" style="margin-left: 15px;">点击查看您的文件下载记录</div>
                                </div>
                                <a class="fbtn fbtn-outline-primary mt-4" tabindex="-1" style="margin-bottom: 5%;margin-right: 2%;min-width: 116px;margin-left: 18%;width: 116px;" href="/my_records">
                                    点击查看
                                    <span class="icon mdi-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                            </div>

                        </div>
                    </div>


                    {# Item 3                    #}
                    <div class="owl-item" style="width: 267px; margin-right: 30px; background-color: #fff;border-radius: 0.8rem;-webkit-box-shadow: 0 1px 3px rgba(3,0,71,.09);box-shadow: 0 1px 3px rgba(3,0,71,.09);">
                        <div class="product product-light">
                            <div class="product-media">

                            <div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" style="">
                            <div class="d-flex align-items-center mb-4" style="margin-top: 2px">
                                <div class="avatar me-3" style="margin-top: 10px; margin-left: 3%;">
                                    <a class="avatar-text bg-warning text-white-90 rounded-pill " href="/my_organization" style="min-width: 45px;">
                                        <i class="icon linearicons-home"></i>
                                    </a>
                                </div>
                                <a class="lead fw-bold" href="/my_organization" style="color: #000000;">我的组织</a>

                            </div>

                            <div class="d-md-flex align-items-start px-1">
                                <div class="flex-fill me-3" style="    max-width: 156px;">

                                    <div class="text-muted mb-3" style="margin-left: 15px;">点击查看关联的公司和项目</div>
                                </div>
                                <a class="fbtn fbtn-outline-warning mt-4" tabindex="-1" style="margin-bottom: 5%;margin-right: 2%;min-width: 116px;margin-left: 18%;width: 116px;" href="/my_organization">
                                    点击查看
                                    <span class="icon mdi-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                            </div>

                        </div>
                    </div>


                    {# Item 4                    #}
                    <div class="owl-item" style="width: 267px; margin-right: 30px; background-color: #fff;border-radius: 0.8rem;-webkit-box-shadow: 0 1px 3px rgba(3,0,71,.09);box-shadow: 0 1px 3px rgba(3,0,71,.09);">
                        <div class="product product-light">
                            <div class="product-media">

                            <div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" style="">
                            <div class="d-flex align-items-center mb-4" style="margin-top: 2px">
                                <div class="avatar me-3" style="margin-top: 10px; margin-left: 3%;">
                                    <a class="avatar-text bg-success text-white-90 rounded-pill " href="/company_management" style="min-width: 45px;">
                                        <i class="icon linearicons-group-work"></i>
                                    </a>
                                </div>
                                <a class="lead fw-bold" href="/company_management" style="color: #000000;">所有公司</a>
                                <div class="dropdown " style="margin-left: 49%;max-width: 14px;position: fixed;left: 40%;">
                                    <a href="#" class="" data-bs-toggle="dropdown" tabindex="-1" style="max-width: 100%; min-width: 10px;">
                                        <i class="icon mdi-menu" style="display: inline-block;"></i>
                                    </a>
                                    <div class="dropdown-menu" style="">
                                        <a href="/company_management" class="dropdown-item" tabindex="-1">
                                            <i class="bi bi-eye me-2"></i> 浏览所有
                                        </a>
                                        <a href="/company_management#navLine3-2" class="dropdown-item" tabindex="-1">
                                            <i class="bi bi-eye me-2"></i> 创建公司
                                        </a>
                                        <a href="/company_management#navLine3-3" class="dropdown-item" tabindex="-1">
                                            <i class="bi bi-eye me-2"></i> 我的公司
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <div class="d-md-flex align-items-start px-1">
                                <div class="flex-fill me-3" style="    max-width: 156px;">
                                    <div class="text-muted mb-3" style="margin-left: 15px;">点击浏览和管理已关联公司</div>
                                </div>
                                <a class="fbtn fbtn-outline-success mt-4" tabindex="-1" style="margin-bottom: 5%;margin-right: 2%;min-width: 116px;margin-left: 18%;width: 116px;  z-index: -1;" href="/company_management">
                                    点击查看
                                    <span class="icon mdi-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                            </div>

                        </div>
                    </div>


                    {# Item 5                    #}
                    <div class="owl-item" style="width: 267px; margin-right: 30px; background-color: #fff;border-radius: 0.8rem;-webkit-box-shadow: 0 1px 3px rgba(3,0,71,.09);box-shadow: 0 1px 3px rgba(3,0,71,.09);">
                        <div class="product product-light">
                            <div class="product-media">

                            <div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" style="">
                            <div class="d-flex align-items-center mb-4" style="margin-top: 2px">
                                <div class="avatar me-3" style="margin-top: 10px; margin-left: 3%;">
                                    <a class="avatar-text bg-secondary text-white-90 rounded-pill " href="/project_management" style="min-width: 45px;">
                                        <i class="icon mdi-console"></i>
                                    </a>
                                </div>
                                <a class="lead fw-bold" href="/project_management" style="color: #000000;min-width: 66px;">所有项目</a>

                                <div class="dropdown " style="margin-left: 49%;max-width: 14px;position: fixed;left: 40%;">
                                    <a href="#" class="" data-bs-toggle="dropdown" tabindex="-1" style="max-width: 100%; min-width: 10px;">
                                        <i class="icon mdi-menu" style="display: inline-block;"></i>
                                    </a>
                                    <div class="dropdown-menu" style="">
                                        <a href="/project_management" class="dropdown-item" tabindex="0">
                                            <i class="bi bi-eye me-2"></i> 浏览所有
                                        </a>
                                        <a href="/project_management#navLine3-2" class="dropdown-item" tabindex="0" >
                                            <i class="bi bi-eye me-2"></i> 创建项目
                                        </a>
                                        <a href="/project_management#navLine3-3" class="dropdown-item" tabindex="0">
                                            <i class="bi bi-eye me-2"></i> 我的项目
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="d-md-flex align-items-start px-1">
                                <div class="flex-fill me-3" style="    max-width: 156px;">
                                    <div class="text-muted mb-3" style="margin-left: 15px;">点击浏览和管理已关联项目</div>
                                </div>
                                <a class="fbtn fbtn-outline-secondary mt-4" tabindex="-1" style="margin-bottom: 5%;margin-right: 2%;min-width: 116px;margin-left: 18%;width: 116px;  z-index: -1;" href="/project_management">
                                    点击查看
                                    <span class="icon mdi-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev"></button>
                <button type="button" role="presentation" class="owl-next disabled"></button>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev"></button>
                <button type="button" role="presentation" class="owl-next disabled"></button>
            </div>

        </div>
